*{
  background: rgb(148, 204, 158);
  margin: 0;
  padding: 0;
}

.App{
  display: grid;
  grid-template-columns:80% 18%;
  gap: 2%;
}

#playerInfo{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  margin: 20px;
}